.banner{
  position: relative;
  background-image: url("https://thumbs.dreamstime.com/z/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg");
  background-size: cover;
  background-position: cover;
  height: 400px;
  color: white;
  width: 100%;
}
.nav-bar{
  position: absolute;
  top:0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10PX 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}
.nav-bar a:hover{
  text-decoration: underline;
}
.banner-heading{
  position: absolute;
  top: 50%;
  left:50%;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}